spring:
  datasource:
    url: jdbc:postgresql://DB_ADDRESS
    username: DB_USER
    password: DB_PASSWD
    driver-class-name: org.postgresql.Driver
  session:
    store-type: hash_map

server:
  port: 8282

logging:
    level:
      org:
        springframework:
          web: DEBUG
        hibernate:
          SQL: DEBUG
          type:
            descriptor:
              sql: TRACE

---
spring:
  profiles: development
  thymeleaf:
      cache: false

  datasource:
    url: jdbc:postgresql://DB_ADDRESS
    username: DB_USER
    password: DB_PASSWD
    driver-class-name: org.postgresql.Driver
