<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<!-- header navigation -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">JFT</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${page == null ? 'active' : ''}"><a href="/">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">工作流<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">文件信息填写</a></li>
                        <li><a href="#">文件状态变更</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">纳品准备</a></li>
                    </ul>
                </li>
                <li th:classappend="${page == 'admin' ? 'active' : ''}"><a href="/admin">系统管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:unless="${#authorization.expression('isAuthenticated()')}">
                <li><a href="/login">用户登录</a></li>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                <li><a href="#">您好，<span sec:authentication="principal.user.nickname"></span></a></li>
                <li id="logout-link"><a href="#">退出系统</a></li>
                <!-- Hidden form for logout -->
                <li>
                    <form id="header-logout-form" th:action="@{/logout}" method="post"></form>
                </li>
                </li>
            </ul>
        </div>
    </div>
    <script>
        $(function () {
            $('#logout-link').click(function () {
                $('#header-logout-form').submit();
            })
        });
    </script>
</div>
</body>

</html>