<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JFT - 系统管理</title>
    <meta charset="UTF-8"/>

    <th:block th:replace="fragments/common :: global"/>
</head>

<body>
<!-- navigation -->
<div th:replace="fragments/header :: header"></div>

<!-- content -->
<div class="container" style="padding-top: 65px;">

    <div class="page-header">
        <h1>系统管理
            <small>SYSTEM MANAGEMENT</small>
        </h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">仓库配置</div>
        </div>
        <div class="panel-body">
            <!--/*@thymesVar id="repoSettingForm" type="self.srr.jast.model.form.RepoSettingForm"*/-->
            <form id="repo-config-form" th:action="@{/admin/repo}" th:object="${repoSettingForm}" method="post">
                <div class="form-group">
                    <label for="repo-address-input">远程仓库地址</label>
                    <input type="text" class="form-control" id="repo-address-input" name="repoAddress"
                           required="required" placeholder="http://example.com/project.git"
                           th:field="*{repoAddress}"/>
                </div>
                <div class="form-group">
                    <label for="repo-branch-input">跟踪分支</label>
                    <input type="text" class="form-control" id="repo-branch-input" name="repoBranch"
                           placeholder="master"
                           th:field="*{repoBranch}"/>
                </div>
                <div class="form-group">
                    <label for="repo-local-path-input">本地工作目录</label>
                    <input type="text" class="form-control" id="repo-local-path-input" name="repoLocalPath"
                           required="required" placeholder="D:\local"
                           th:field="*{repoLocalPath}"/>
                </div>
                <button type="submit" id="save-repo-setting-button" class="btn btn-default btn-primary">保存仓库配置</button>
            </form>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="panel-title">操作区</div>
        </div>
        <div class="panel-body">
            <button type="button" id="repo-refresh-button" class="btn btn-default btn-warning">刷新仓库状态</button>
            <button type="button" id="initialize-purge-button" class="btn btn-default btn-danger">初始化系统（清除所有数据）</button>
        </div>
    </div>


</div>
<script>
    $(function () {

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        $('#repo-config-form').on('submit', function (e) {
            $('#save-repo-setting-result').text('Saving...');
            $.ajax({
                type: 'POST',
                url: '/admin/setting/repo',
                data: $(this).serialize()
            })
                .done(function (data) {
                    if (data.status === true) {
                        swal({
                            title: "成功",
                            text: "数据保存成功",
                            type: "success"

                        });
                        $('#repo-address-input').val(data.repoAddress);
                        $('#repo-branch-input').val(data.repoBranch);
                        $('#repo-local-path-input').val(data.repoLocalPath);
                    } else {
                        swal({
                            title: "失败",
                            text: "数据保存失败 <br/>" + data.message,
                            type: "error",
                            html: true
                        });
                    }
                });
            e.preventDefault();
        });

        $('#repo-refresh-button').click(function (e) {
            swal({
                    title: "确定",
                    text: "将要执行的操作：刷新仓库状态",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "取消",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确认",
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    showLoaderOnConfirm: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: 'POST',
                            url: '/admin/repo/refresh',
                            data: $(this).serialize()
                        })
                            .done(function (data) {
                                if (data.status === true) {
                                    swal("成功", "刷新操作执行成功", "success");
                                } else {
                                    swal({
                                        title: "失败",
                                        text: "刷新操作执行失败 <br/>" + data.message,
                                        type: "error",
                                        html: true
                                    });
                                }
                            });
                    } else {
                        swal("取消", "刷新操作已取消", "error");
                    }
                });
        });
    });
</script>


<!-- footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>