<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JAT - 系统设置</title>
    <meta charset="UTF-8"/>

    <th:block th:replace="fragments/common :: global"/>
</head>

<body>
<!-- navigation -->
<div th:replace="fragments/header :: header"></div>

<!-- content -->
<div class="container" style="padding-top: 65px;">

    <div class="page-header">
        <h1>系统设置 - 通用
            <small>SYSTEM SETTINGS - GENERAL</small>
        </h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">基本设置</div>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                WORK IN PROGRESS
            </div>
        </div>
    </div>

</div>
<script>

</script>


<!-- footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
