<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JAT - 系统设置</title>
    <meta charset="UTF-8"/>

    <th:block th:replace="fragments/common :: global"/>
</head>

<body>
<!-- navigation -->
<div th:replace="fragments/header :: header"></div>

<!-- content -->
<div class="container" style="padding-top: 65px;">

    <div class="page-header">
        <h1>系统设置 - 生产性统计
            <small>SYSTEM SETTINGS - PRODUCTIVITY</small>
        </h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">仓库设置</div>
        </div>
        <div class="panel-body">
            <!--/*@thymesVar id="repoSettingForm" type="self.srr.jast.model.form.ProductivitySettingForm"*/-->
            <form id="repo-config-form" th:action="@{/setting/productivity/repo}" th:object="${repoSettingForm}"
                  method="post">
                <div class="form-group">
                    <label for="repo-address-input">远程仓库地址</label>
                    <input type="text" class="form-control" id="repo-address-input" name="repoAddress"
                           required="required" placeholder="http://example.com/project.git"
                           th:field="*{repoAddress}"/>
                </div>
                <div class="form-group">
                    <label for="repo-branch-input">跟踪分支</label>
                    <input type="text" class="form-control" id="repo-branch-input" name="repoBranch"
                           placeholder="master"
                           th:field="*{repoBranch}"/>
                </div>
                <div class="form-group">
                    <label for="repo-local-path-input">本地工作目录</label>
                    <input type="text" class="form-control" id="repo-local-path-input" name="repoLocalPath"
                           required="required" placeholder="D:\local"
                           th:field="*{repoLocalPath}"/>
                </div>
                <button type="submit" id="save-repo-setting-button" class="btn btn-default btn-primary">保存仓库设置</button>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">提交者信息对应</div>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                WORK IN PROGRESS
            </div>
        </div>
    </div>

</div>
<script>
    $(function () {

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        $('#repo-config-form').on('submit', function (e) {
            $('#save-repo-setting-result').text('Saving...');
            $.ajax({
                type: 'POST',
                url: '/settings/productivity/repo',
                data: $(this).serialize()
            })
                .done(function (data) {
                    if (data.status === true) {
                        swal({
                            title: "成功",
                            text: "数据保存成功",
                            type: "success"

                        });
                        $('#repo-address-input').val(data.repoAddress);
                        $('#repo-branch-input').val(data.repoBranch);
                        $('#repo-local-path-input').val(data.repoLocalPath);
                    } else {
                        swal({
                            title: "失败",
                            text: "数据保存失败 <br/>" + data.message,
                            type: "error",
                            html: true
                        });
                    }
                });
            e.preventDefault();
        });
    });
</script>


<!-- footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
